html {
    font-size: 10px;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
    display: flex;
    min-height: 80vh;
    align-items: center;
    background-size:100px 50px;
  }
  
  .voiceinator {
    padding: 1rem;
    width: 50rem;
    margin: auto;
    margin-top: 1%;
    border-radius: 1rem;
    position: centre;
    background: white;
    overflow: hidden;
    
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  }
  
  h1 {
    width: calc(100% + 4rem);
    margin: -2rem 0 2rem -2rem;
    padding: .5rem;
    background: #fbff00;
    border-bottom: 5px solid #F3C010;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Pattaya', sans-serif;
    text-shadow: 3px 3px 0 #F3C010;
  }
  
  .voiceinator input,
  .voiceinator button,
  .voiceinator select,
  .voiceinator textarea {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    font-size: 2rem;
    background: #F7F7F7;
    outline: 0;
  }
  
  textarea {
    height: 10rem;
  }
  
  input[type="select"] {
    color:aqua;
  }
  
  .voiceinator button {
    background: #ffc600;
    border: 0;
    width: 49%;
    float: left;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
    font-size: 2rem;
    border-bottom: 5px solid #F3C010;
    cursor: pointer;
    position: relative;
  }
  
  .voiceinator button:active {
    top: 2px;
  }
  .voiceinator button:hover{
    color: rgb(253, 0, 211);
  }
  
  .voiceinator button:nth-of-type(1) {
    margin-right: 2%;
  }
#footer {
    background-color: rgba(3, 3, 3, 0);
    color:rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin: 2%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

